# Nuxt
.nuxt/
.output/
dist/

# Env
.env
.env.*
!.env.example

# Firebase
*service_account*.json
*serviceAccount*.json

# Dependencies
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
